/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 20;
}

a, p {
    color:white;
    font-family: arial;
    font-size: 30px;
    text-decoration: none;
}

.flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_column_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.flex_evenly {
    display: flex;
    justify-content: space-evenly;
}

/* watermark */
.watermark {
    position:absolute;
    z-index: 1;
    right:50px;
    width: 350px;
    height: 263px;
}

/* HEADER */
.container-header {
    height: 80px;
    background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
}

.container_menu_main {
    width: 800px;
    padding-right: 100px;
}

.logo {
    position:absolute;
    top:-1px;
    left:50px;
    height: 130px;
    z-index: 1;
}

.menu {
    padding-right: 40px;
}


/* BANNER */
.container-banner {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(180deg, #000000 0%, #7914CC 100%);
}

.banner{
    transform: rotateY(180deg);
    border-radius: 50px;
    height: 540px;
    margin: 35px;
 }

.container-text {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text_span {
    font-size: 3em;
    font-weight: bolder;
}

/* Fabricantes */
.container-fab {
    height: auto;
    background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
}

.container-fab img{
    height: 90px;
    mix-blend-mode: color-burn;
}

/* Promoções - geral */
.container_promo {
    height: auto;
    background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
}

.container_itens {
    height: 700px;
    background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
}

/* Promoções - menu */
.container_menu_sec {
    height: auto;
}

.button_menu_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    border-radius: 15px;
    background: linear-gradient(86.11deg, #910DFF 0%, #000000 35.8%, #000000 68.57%, #45067A 100%);
}

/* Promoções - itens */
.container-itens {
    width: 230px;
    height: 630px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(180deg, #000000 0%, #7914CC 100%);  
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tit { 
    font-size: 30px;
}

.desc {
    font-size: 16px;
}

.desc_link {
    color: blue;
    font-size: 12px;
}

.price_olde {
    color: red;
    text-decoration: line-through;
}

.button-send {
    background-color: green;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* About - geral */
.container_about {
    height: auto;
    background: linear-gradient(86.11deg, #910DFF 0%, #000000 96.81%);  
}

.font_about{
    display: flex;
    text-align: center;
}


/* Footer - geral */
.container_footer {
    height: auto;
    background: linear-gradient(86.11deg, #910DFF 0%, #000000 96.81%);  
}

/* Footer - pagamentos */
.flags {
    width: 42px;
    height: 27px;
}

/* Footer - aplicativos */
.apps {
    width: 135px;
    height: 40px;
}

/* Footer - redes sociais */
.container_column{
    padding-top: 50px;
}

.social {
    width: 34px;
    height: 34px;
}

/* copyright */
.container_copyright {
    height: auto;
    background: linear-gradient(86.11deg, #910DFF 0%, #000000 96.81%);
}

.text_copyright p{
    font-size: 12px;
}

@media screen and (max-width: 1620px) {
    /* BANNER */
    .container-banner{
        height: 100%;
    }
    .banner {
        width: 100%;
        height: 70%;
        margin: 5px;
        opacity: 0.4;
    }
    .container-text{
        position: absolute;
        top: 100px;
        left:80px;
    }
    .container-text p{
        font-size: 1.7em;
    }
}


@media screen and (min-width: 1000px) {
    /* HEADER */
    .menu{
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    /* HEADER */
    .container_menu_main {
        display: none;
    }

    /* Promoções - geral */
    .container_promo .container-itens{
        display: none;
    }
    .container_promo .container_menu_sec{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .container-text p{
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    .container-text p{
        font-size: 0.5em;
    }
}

@media screen and (max-width: 400px) {
    .container-text p{
        font-size: 0.3em;
    }
}